.navbar-fixed-top {
    transition: top 0.5s ease-in-out;
  }
  .navbar-fixed-top.scrolled {
    top: -50px;
  }
  $(window).on("scroll", function() {
    if ($(window).scrollTop() > 50) {
      $(".navbar-fixed-top").addClass("scrolled");
    } else {
      $(".navbar-fixed-top").removeClass("scrolled");
    }
  });
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-menu > li > a {
    color: #333;
  }  
